<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{{currentOrganisation.url}}"><h3>{{currentOrganisation.displayName}}</h3></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><select ng-model="currentOrganisation" ng-options="currentOrganisation as currentOrganisation.displayName for currentOrganisation in organisations" ng-change="organisationChanged(currentOrganisation)" >
      </select>
      </li>
      <li ng-click="reset()">reset</li>
    </ul>
  </div>
</nav>
<div class="row" ng-show="hasCreds">
  <div class="col-sm-6" ng-repeat="member in members">
    <todoing member="member" cards="cards" organisation="currentOrganisation.id"></todoing>
  </div>
</div>
<div class="container" ng-show="!hasCreds">
  <h3>looks like you dont have any credentials...</h3>
  <form novalidate class="simple-form">
    key: <input type="text" ng-model="creds.key" /><br />
    secret: <input type="text" ng-model="creds.secret" /><br />
    <input type="submit" ng-click="update(creds)" value="Save" />
  </form>
</div>