  <div class="panel panel-default" ng-show="myCards.length">
    <div class="panel-heading">{{member.fullName}} [{{myCards.length}}]</div>
    <div class="panel-body">
    <div class="col-sm-6">
    	<h3>TODO [{{myTodoCards.length}}]</h3>
    	<ol>
		    <li ng-repeat="card in myTodoCards">
				<a href="{{card.url}}">{{card.name}}</a>
		    </li>
	    </ol>
    </div>
    <div class="col-sm-6">
	    <h3>doing [{{myDoingCards.length}}]</h3>
    	<ol>
		    <li ng-repeat="card in myDoingCards">
				<a href="{{card.url}}">{{card.name}}</a>
		    </li>
	    </ol>
    </div>
    </div>
  </div>